* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.bosonit.com/n-content/uploads/2021/12/navidad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-center {
    text-align: center;
    color: #cdcadd;
    font-weight: 300;
    margin-top: 40px;
    font-size: 5rem;

}

.description {
    text-align: center;
    color: #cdcadd;
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 3rem;
}

.form {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(47, 41, 88, 0.9);
    padding: 100px;
    border-radius: 15px;

}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 1.6rem;
    letter-spacing: 6px;
    margin: 20px;
    color: white;
}

.form-control {
    padding: 20px;
    font-size: 2rem;
    margin-top: 15px;
    border-radius: 20px;
}

.label-control {
    background: none;
    border: none;
    color: #FFF;

}

.submit-button {
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.input-textarea {
    padding: 20px;
    font-size: 2rem;
    border-radius: 20px ;

}

.general-text2 {
    margin-bottom: 20px;
}

.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
     }

#dropdown{
    padding: 20px;
    font-size: 2rem;
    margin-top: 15px;
    border-radius: 20px;
}
