body {
    line-height: 1,5;
    font-size: 1rem;
    text-align: center;
    color: black;
    margin: 5%;
}
#main{
background-color: #D3D3D3;
margin: 30px 8px;
padding: 15px;
border-radius: 5px;
}
p {
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div{
  margin:5%;
  border-radius: 5px;
  background-color: white;
  padding: 30px
}

ul {
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
  margin: 10px 0;
}
blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
}