@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
.grid{
    display: flex;
}

    body {
        background-color: rgb(221, 247, 251);
        display: flex;
        flex-direction: column;

    }

    .header {
        display: flex;
        min-height: 75px;
        padding: 0px 20px;
        align-items: center;
        background-color: white;
        min-width: 100%;
        position: fixed;
        top: 0%;
        flex-wrap: wrap
    }

    .nav-bar_list {
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
        gap: 30%;
        list-style: none;

    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .browser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 25%;
        gap: 20px;
        margin-bottom: 40px;
    }

    .browser-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input-browser {
        border-radius: 10px;
        padding: 10px 70px 10px 70px;
        text-align: center;
        font-size: 1.5rem;
    }

    .btn-browser {
        border-radius: 10px;
        padding: 10px 40px 10px 40px;
        text-align: center;
        font-size: 1.5rem;
    }

    .flex-container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .grid {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.7rem;

    }

    .materiales-img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        size: 10%;
        margin-top: 15px;
    }

    .video {
        display: flex;
        margin-top: 10%;
        justify-content: center;


    }

    .iframe {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .tarjetas {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        border: 1px solid #000;
        border-radius: 7px;
        background-image: linear-gradient(to right, #c3d9e3, #bbefef);
        padding-top: 15px;
        margin-top: 40px;

    }

    .desc-producto {

        color: black;
        padding: 80px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;

    }

    .card-list {
        list-style: none;
    }

    .footer {
        background-color: white;
        margin-top: 35px;
        padding: 5%;
        display: flex;
        flex-direction: column;

    }

    .list-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10%;
        gap: 10%;
    }

    .p-footer {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        gap: 10%;
        margin-top: 5%;

    }
}

@media only screen and (min-width: 601px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }


    body {
        background-color: rgb(45, 83, 89);
        display: flex;
        flex-direction: column;

    }

    header {
        min-height: 75px;
        padding: 0px 20px;
        display: block;
        align-items: center;
        background-color: white;
        min-width: 100%;
        position: fixed;
        top: 0%;
    }

    .nav-bar_list {
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
        gap: 30%;
        list-style: none;

    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .browser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 25%;
        gap: 20px;
        margin-bottom: 40px;
    }

    .browser-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input-browser {
        border-radius: 10px;
        padding: 10px 70px 10px 70px;
        text-align: center;
        font-size: 1.5rem;
    }

    .btn-browser {
        border-radius: 10px;
        padding: 10px 40px 10px 40px;
        text-align: center;
        font-size: 1.5rem;
    }

    .flex-container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .grid {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.7rem;

    }

    .materiales-img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        size: 10%;
        margin-top: 15px;
    }

    .video {
        display: flex;
        margin-top: 10%;
        justify-content: center;


    }

    .iframe {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .tarjetas {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        border: 1px solid #000;
        border-radius: 7px;
        background-image: linear-gradient(to right, #c3d9e3, #bbefef);
        padding-top: 15px;
        margin-top: 40px;

    }

    .desc-producto {

        color: black;
        padding: 80px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;

    }

    .card-list {
        list-style: none;
    }

    .footer {
        background-color: white;
        margin-top: 35px;
        padding: 5%;
        display: flex;
        flex-direction: column;

    }

    .list-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10%;
        gap: 10%;
    }

    .p-footer {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        gap: 10%;
        margin-top: 5%;

    }
}
